<div class="py-5 flex">
    <ul class="w-full flex justify-center gap-8">
        <li class="hover:text-blue-600 hover:scale-x-110 transition-all duration-200"><a href="/">Home</a></li>
        <li class="hover:text-blue-600 hover:scale-x-110 transition-all duration-200"><a href="/about">about</a></li>
        <li class="hover:text-blue-600 hover:scale-x-110 transition-all duration-200"><a href="/galeri">galeri</a></li>

    </ul>
</div>