<div class="w-full h-32 flex justify-center items-center bg-blue-200">
    <h2 class="text-3xl font-bold"><%= title %> </h2>
</div>
<div class="p-5 flex flex-col justify-center items-center">
    <div class="w-44 rounded-full overflow-hidden"><img src="img/fitriningtyas.jpg" alt="fitriningtyas" class="w-full" ></div>
    <h1 class="font-bold text-2xl">fitriningtyas</h1>
    <p class="text-sm text-neutral-500">life long learner</p>
</div>
